/* You can add global styles to this file, and also import other style files */

*
{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #c8ad35;
    --secondary-color: #bf872e;
    --black-color: #020404;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}