<div class="checkout-container">
    <div class="content">
        <h1 class="title">Checkout</h1>

        <form [formGroup]="checkoutForm">
            <div class="input-container">
                <label>Name</label>
                <div>
                    <input type="text" formControlName="name">
                </div>

                <div class="error-list" *ngIf="fc['name'].errors">
                    <div *ngIf="fc['name'].errors['required']">Name is required.</div>
                    <div *ngIf="fc['name'].errors['minlength']">Name should have a minimum length of 5.</div>
                </div>
            </div>
            <div class="input-container">
                <label>Address</label>
                <div>
                    <input type="text" formControlName="address">
                </div>

                <div class="error-list" *ngIf="fc['address'].errors">
                    <div *ngIf="fc['address'].errors['required']">Address is required.</div>
                    <div *ngIf="fc['address'].errors['minlength']">Address is too short.</div>
                </div>
            </div>
            <div class="input-container">
                <label>Phone Number</label>
                <div>
                    <input type="text" formControlName="phoneNumber">
                </div>

                <div class="error-list" *ngIf="fc['phoneNumber'].errors">
                    <div *ngIf="fc['phoneNumber'].errors['required']">Phone number is required.</div>
                    <div *ngIf="fc['phoneNumber'].errors['pattern']">Phone number should only contain numbers.</div>
                </div>
            </div>
        </form>

        <div class="warning">
            Please, make sure to enter your exact address and phone number as we will need them to complete the delivery!
        </div>
        <order-items-list [order]="order"></order-items-list>
    </div>
    
    <div class="button">
        <button (click)="createOrder()">Create order</button>
    </div>
</div>