.navbar{
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar-collapse{
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--secondary-color);
    font-weight: bold;
    border-bottom: 1px solid;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--black-color);
    margin-right: 0.5rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--secondary-color);
    border-bottom: 1px solid;
}

.navbar-light .navbar-brand{
    color: var(--primary-color);
    margin-left: 1rem;
    margin-right: 2rem;
}

.navbar-profile{
    margin-right: 1rem;
}

.cart{
    background-color: #ddd;
    border-radius: 10px;
}

a span{
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.1rem 0.3rem;
    border-radius: 100%;
    font-size: 0.9rem;
}

.profile-container{
    position: relative;
}

.menu{
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
    display: none;
}

.profile-container:hover .menu{
    display: block;
}

.menu a{
    width: 80%;
    min-width: 8rem;
    margin: 10px;
}

.menu a:last-child{
    cursor: pointer;
}

@media screen and (max-width:995px) {

    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }

    .menu a{
        width: 100vw;
    }

}
