<div class="container">

    <h1 class="title">About</h1>
    <div class="info">

        <p class="description">
            If you ever wanted to impress a friend, a colleague, or your loved one, one of the most important things is
            to
            look good. We are here to make this happen. Our site is like you are opening a box full of jewels to choose
            from. Here you can find some top-notch accessories, which you can use to get everyone say "wow". We are
            happy to
            offer the best fashion products to thousands of users. We would love to be a part of your wedding, parties,
            birthdays and other beautiful moments.<br>
            <span class="description final-desc">So... what are you waiting for?</span>
        </p>
        
        <img src="../../../assets/img/aboutimg.jpg" alt="aboutimg">

    </div>
</div>