.navbar{
    position: sticky;
    top: 0px;
}

.navbar-collapse{
    justify-content: center;
}

.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--secondary-color);
    font-weight: bold;
    border-bottom: 1px solid;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--black-color);
    margin-right: 0.5rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--secondary-color);
    border-bottom: 1px solid;
}

.navbar-light .navbar-brand{
    color: var(--primary-color);
    margin-left: 1rem;
}