<div class="container">
    <h1 class="title">Your orders</h1>

    <div class="content">
        <table>
            <tr>
                <th>Order Id</th>
                <th>User</th>
                <th>Address</th>
                <th>Status</th>
                <th>Total Price</th>
            </tr>
            <tr *ngFor="let order of orders">
                <a routerLink="../../order/{{order.id}}">
                    <td>
                        {{order.id}}
                    </td>
                </a>
                <td>
                    {{order.name}}
                </td>
                <td>
                    {{order.address}}
                </td>
                <td>
                    {{order.status}}
                </td>
                <td>
                    €{{order.totalPrice}}
                </td>
            </tr>
        </table>
    </div>
</div>