<div class="banner">
    <img src="../../../assets/img/bannerimg.jpg" alt="bannerimg">
    <div class="title-container">
        <h1 class="title"> Open the box.<br>Find fashionable accessories.<br>Impress everyone.</h1>
        <a class="btn-primary" routerLink="/jewels">Take a look <i class="bi bi-chevron-double-right"></i></a>
    </div>
</div>

<div class="advantages">
    <h2 class="advantages-header">Why choose Jewellery Box?</h2>
    <div class="advantages-list">
        <div class="advantages-item">
            <i class="fa-regular fa-gem"></i>
            <p>Our jewels are made of top materials and we guarantee high quality.</p>
        </div>
        <div class="advantages-item">
            <i class="fa-solid fa-venus-mars"></i>
            <p>We offer a wide variety of accessories for both men and women.</p>
        </div>
        <div class="advantages-item">
            <i class="fa-solid fa-gift"></i>
            <p>Our products are the perfect gift for any special occasion for you and your loved ones.</p>
        </div>
    </div>
</div>