<table>
    <tr>
        <td colspan="5">
            <h3>Order Items:</h3>
        </td>
    </tr>
    <tr *ngFor="let item of order.items">
        <td>
            <img src="{{item.jewel.imageUrl}}">
        </td>
        <td>
            {{item.jewel.title}}
        </td>
        <td>
            €{{item.jewel.price}}
        </td>
        <td>
            {{item.quantity}}
        </td>
        <td>
            €{{roundPrice(item.price)}}
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <strong>
                Total: 
            </strong>
        </td>
        <td>
            <strong>
                €{{roundPrice(order.totalPrice)}}
            </strong>
        </td>
    </tr>
</table>